div{
    height: 100px;
    width: 200px;
}

#one{
    background:#FE657D;
}
#two{
    background:#FCB2A9;
}#three{
    background:#E3E3DB;
}#four{
    background:#94E4C9;
}#five{
    background:#509B7D;
}